.tiptap:focus-visible {
  outline: none;
}

.tiptap p.is-editor-empty:first-child::before {
  float: left;
  height: 0;
  content: attr(data-placeholder);
  pointer-events: none;
  color: #adb5bd;
}

.tiptap {
  p {
    min-height: 22.5px;
  }

  a {
    font-weight: 500;
    padding: 0 3px;
    text-decoration: underline;
    word-wrap: break-word;
  }

  code {
    font-size: 14px;
  }

  p code {
    font-family: monospace;
    margin: 0 3px;
    padding: 3px 5px;
    color: #ea580c;
    border-radius: 3px;
    background: #f2f4f6;
  }

  pre {
    box-sizing: border-box;
    padding: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    border-radius: 5px;
    background: #f2f4f6;

    code {
      font-size: 14px;
      display: inline-block;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "PingFangSC-Medium", "Microsoft Yahei", monospace;
    font-weight: 500;
    margin-bottom: 4px;
  }

  h1 {
    font-size: 18px;
  }

  h2 {
    font-size: 17px;
  }

  h3 {
    font-size: 16px;
  }

  ul,
  ol {
    margin: 0;
    padding-left: 18px;
    overflow-wrap: break-word;
  }

  ol {
    list-style: decimal;
  }

  ul {
    list-style: circle;
  }

  ul li,
  ol li {
    font-weight: 400;
    line-height: 26px;
    padding: 0;

    &::marker {
      font-family: Arial, Helvetica, sans-serif;
    }
  }
}
