@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 900px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

@layer base {
  :root {
    font-family: "PingFang SC", "Microsoft YaHei", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    font-size: 0.9375rem;
  }
}

@utility print-wrapper {
  flex-basis: 900px;
  padding: 16px;
  overflow: auto;
  scrollbar-width: thin;
  background: white;
}

@utility form-label {
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 32px;
  margin-top: 8px;
}

@utility flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@utility flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@utility scroll-thin {
  scrollbar-width: thin;
}

@utility icon-size {
  width: 1em;
  height: 1em;
}
